body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(237, 246, 247);
}

.slide {
  background-color: rgb(237, 246, 247);
  margin-top: 5vh;
}
.slide > p {
  position: absolute;
  color: #262626;
  font-size: 5vh;
  font-family: "Times New Roman", Times, serif;
  margin: 2px;
}

.containSlide {
  height: 80vh;
  display: none;
  margin: auto;
  width: 40vh;
}
.containSlide__containImg {
  height: 60vh;
}
.containSlide__containImg__image {
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.containSlide__containImg__image--n1 {
  background: linear-gradient(146deg, rgba(44, 35, 109, 0.5) 0%, rgba(44, 35, 109, 0.5) 14.286%, rgba(64, 54, 108, 0.5) 14.286%, rgba(64, 54, 108, 0.5) 28.572%, rgba(83, 72, 106, 0.5) 28.572%, rgba(83, 72, 106, 0.5) 42.858%, rgba(103, 91, 105, 0.5) 42.858%, rgba(103, 91, 105, 0.5) 57.144%, rgba(123, 110, 103, 0.5) 57.144%, rgba(123, 110, 103, 0.5) 71.43%, rgba(142, 128, 102, 0.5) 71.43%, rgba(142, 128, 102, 0.5) 85.716%, rgba(162, 147, 100, 0.5) 85.716%, rgba(162, 147, 100, 0.5) 100.002%), linear-gradient(349deg, rgb(203, 4, 7) 0%, rgb(203, 4, 7) 14.286%, rgb(178, 9, 6) 14.286%, rgb(178, 9, 6) 28.572%, rgb(152, 13, 5) 28.572%, rgb(152, 13, 5) 42.858%, rgb(127, 18, 4) 42.858%, rgb(127, 18, 4) 57.144%, rgb(101, 22, 3) 57.144%, rgb(101, 22, 3) 71.43%, rgb(76, 27, 2) 71.43%, rgb(76, 27, 2) 85.716%, rgb(50, 31, 1) 85.716%, rgb(50, 31, 1) 100.002%);
}
.containSlide__containImg__image--n2 {
  background: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
}
.containSlide__containImg__image--n3 {
  background: radial-gradient(circle at top right, rgb(36, 9, 119) 0%, rgb(36, 9, 119) 48%, rgb(72, 7, 149) 48%, rgb(72, 7, 149) 53%, rgb(109, 5, 178) 53%, rgb(109, 5, 178) 56%, rgb(145, 2, 208) 56%, rgb(145, 2, 208) 69%, rgb(181, 0, 237) 69%, rgb(181, 0, 237) 100%);
}
.containSlide__containImg__image--n4 {
  background: linear-gradient(45deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%, rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%, rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%, rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%, rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%, rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%, rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%);
}
.containSlide__containImg__image--n5 {
  background: linear-gradient(90deg, rgb(0, 36, 4) 0%, rgb(53, 121, 9) 27%, rgb(29, 0, 255) 100%);
}
.containSlide__txt {
  text-align: center;
  border: 1px solid #262626;
  border-radius: 0px 0px 15px 15px;
  border-top: 0px;
  height: 20vh;
  color: #262626;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: scroll;
}
.containSlide--active {
  display: block;
}

.containBtn {
  display: flex;
  justify-content: center;
  width: 40vh;
  margin: auto;
  margin-top: 4vh;
  position: relative;
}
.containBtn > button {
  width: 20vh;
  height: 4vh;
  margin: auto;
  background-color: black;
  color: aliceblue;
  border: 1px solid #262626;
  border-radius: 5vh;
}
.containBtn > button:active {
  color: #ffa7c2;
  box-shadow: 3px 10px 30px 5px black;
}

/*# sourceMappingURL=slide.css.map */
